<div class="main-shop-wrapper" id="products-exibition">
    <div class="tab-content" id="myTabContent-2">
        <div class="tab-pane" id="grid">
            <div class="product-grid-view three-column">
                <div class="row no-gutters">
                    <% @books.each do |book|%>
                        <div class="col-md-4 col-sm-6">
                            <div class="product-box product-box-hover-down bg--white color-1">
                                <div class="product-box__img">                                            
                                    <%= image_tag(has_book_face(book.id), class: 'primary-image')%>
                                    <%= image_tag(has_book_face(book.id), class: 'secondary-image')%>
                                    <%= link_to "/show?book=#{book.id}", class: "product-box__quick-view" do%>                                            
                                        <i class="fa fa-search"></i>
                                    <%end%>
                                </div>
                                <div class="product-box__content">
                                    <h3 class="product-box__title"><a href="single-product.html"><%= book.title%></a></h3>
                                    <h4><%= sanitize book.description.truncate(150)%></h4>
                                    <div class="product-box__price">
                                        Autor: <%= book.author %>
                                    </div>
                                </div>                                       
                            </div>
                        </div>
                    <%end%>                        
                </div>                        
            </div>
        </div>

        
        <div class="tab-pane show active" id="list">
            <div class="product-list-view">
                <% @books.each do |book| %>
                    <div class="product-box product-box--list bg--white">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="product-box__img">
                                    <%= image_tag(has_book_face(book.id), class: 'primary-image', style: "max-width: 300px;" )%>
                                    <%= image_tag(has_book_face(book.id), class: 'secondary-image', style: "max-width: 300px;")%>
                                    <%= link_to "/show?book=#{book.id}", class: "product-box__quick-view" do%>                                            
                                        <i class="fa fa-search"></i>
                                    <%end%>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="product-box__content">
                                    <h3 class="product-box__title">
                                        <a href="/show?book=<%= book.id %>"><%= book.title%></a>
                                    </h3>
                                    
                                    <div class="product-box__price">
                                        Autor: <%= book.author%>
                                    </div>
                                    <p class="product-box__desc">
                                        <h4><%= sanitize book.description.truncate(150)%></h4>
                                    </p>                                            
                                </div>
                            </div>
                        </div>
                    </div>  
                <%end%>  
            </div>
        </div>
    </div>
</div>