<!DOCTYPE html>
<html>
  <head>
    <title>Livaria da Zygo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'site' %>
    
  </head>

  <body>
    <%= yield %>
site
    <%= javascript_include_tag 'site' %>
  </body>
</html>
